* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  max-width: 800px;
  padding: 0 16px 32px 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas.hidden {
  display: none;
}

#meta {
  font-size: 0.8em;
  margin-top: 8px;
  display: flex;
}

#meta .hidden {
  color: white;
}

.horizontal-spacer {
  width: 24px;
}

#generate-button {
  -webkit-appearance: none;
  appearance: none;
  height: 48px;
  margin-bottom: 32px;
  background: none;
  border: 1px solid black;
  border-radius: 16px;
  width: 60%;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.2s;
}

#generate-button:hover {
  background-color: #eeeeee;
}

#generate-button:active {
  color: black;
  background-color: #dddddd;
}

@media screen and (max-width: 800px) {
  #root {
    max-width: 100%;
  }

  #display {
    margin-bottom: 32px;
  }

  #generate-button {
    height: 48px;
    margin-bottom: 8px;
  }
}

#settings h2 {
  text-align: center;
}

#settings input {
  height: 24px;
}

#dimensions {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

#dimensions .separator {
  margin: 0 16px;
}

#dimensions label {
  display: none;
}

#dimensions input {
  max-width: 64px;
  margin-right: 8px;
}

#dimensions-fields {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

#dimensions-fields legend {
  margin-bottom: 4px;
}

.form-element {
  display: flex;
  align-items: center;
}

#seed .form-element {
  flex-direction: column;
  align-items: flex-start;
}

#seed label {
  margin-bottom: 4px;
}

#seed-help {
  margin-top: 8px;
  font-size: 0.8em;
  font-style: italic;
}
